# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Portfolio videos
public/videos/*

# Allow compressed hero videos
!public/videos/fancy-hero-web.mp4
!public/videos/MarriageTeaser1-web.mp4
!public/videos/My cinematic edit-web.mp4